
*{
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke ;

}

header {
    background-color: #012030;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
}

section {
    margin: 40px;
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}


footer {
    background-color: #012030;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about {
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
}



.responsive{
  flex: 1;
}

.joa {
    display: flex;
    flex-direction: column;
    padding-right: 45px;
    width: 350px;
}

.joa p {
    color: #012030;
}

#about div p{
    margin-top: 5px;
    margin-right: 5px;
    text-align: justify;
    font-size: 14.9px;
    
}
#about div h2{
    margin: 0px;
    color: #012030;
}

#yo{
    width: 275px;
    height: 320px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 15px;
}

li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
}

.name{
    display: flex;
    flex-direction: column;
}

.name h1{
    margin: 0px;
}
.name p{
    margin: 0px;
}

.nav:hover{
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.5s;
}

.nav:hover .navi{
    color: #45C4B0;
    font-size: 18px;
}


  .card {
    width: 105px;
    height: 125px;
    background: #012030;
    border-radius: 7px;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    transition: 0.2s ease-in-out;
    margin: 15px;
  }
  
  .textBox {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    transition: 0.2s ease-in-out;
    z-index: 2;
  }
  
  .textBox > .text {
    font-weight: bold;
  }
  
  .textBox > .head {
    font-size: 20px;
  }
  
  .textBox > span {
    font-size: 12px;
    color: lightgrey;
  }

  
  .card:hover {
    transform: scale(1.04) rotate(-1deg);
  }

  .logo {
    width: 35px;
    padding-top: 15px;
  }

  .card::before {
    content: '';
    filter: blur(2rem);
    opacity: 20%;
    width: 165px;
    height: 185px;
    position: absolute;
    z-index: -1;
    transition: 200ms;
  }
  
  .skills{
        display: flex;
        flex-direction: row;
        padding-right: 80px;
        justify-content: center;
  }

  .card:hover .logo{
    transform: rotate(360deg);
    transition-duration: 1.2s;
  }


  .foto{
    width: 250px;
    height: 310px;
    perspective: 1000px;
  }
  
  .foto-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;
  }
  
  .foto:hover .foto-inner {
    transform: rotateY(180deg);
  }
  
  .foto-front,
  .foto-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .foto-front {
    background-color: whitesmoke;
    color: #fff;
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 5px;
    justify-content: center;
    transform: rotateY(0deg);
  }
  
  .foto-back {
    background-color: whitesmoke;
    color: #fff;
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 5px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }
  
  .perfil{
    height: 310px;
    width: 100%;
  }



            .slide {
                position: relative;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
                width: 800px;
            }
            .slide-inner {
                position: relative;
                overflow: hidden;
                width: 800px;
                height: calc( 250px + 3em);
            }
            .slide-open:checked + .slide-item {
                position: static;
                opacity: 100;
            }
            .slide-item {
                position: absolute;
                opacity: 0;
                -webkit-transition: opacity 0.6s ease-out;
                transition: opacity 0.6s ease-out;
            }
            .slide-item img {
                display: block;
                height: auto;
                width: 800px;
            }
            .slide-control {
                background: rgba(0, 0, 0, 0.28);
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                display: none;
                font-size: 40px;
                height: 40px;
                line-height: 35px;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                cursor: pointer;
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                text-align: center;
                width: 40px;
                z-index: 10;
            }
            .slide-control.prev {
                left: 2%;
            }
            .slide-control.next {
                right: 2%;
            }
            .slide-control:hover {
                background: rgba(0, 0, 0, 0.8);
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1,
            #slide-2:checked ~ .control-2,
            #slide-3:checked ~ .control-3 {
                display: block;
            }
            .slide-indicador {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 2%;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 10;
            }
            .slide-indicador li {
                display: inline-block;
                margin: 0 5px;
            }
            .slide-circulo {
                color: #828282;
                cursor: pointer;
                display: block;
                font-size: 35px;
            }
            .slide-circulo:hover {
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1 ~ .slide-indicador 
                 li:nth-child(1) .slide-circulo,
            #slide-2:checked ~ .control-2 ~ .slide-indicador 
                  li:nth-child(2) .slide-circulo,
            #slide-3:checked ~ .control-3 ~ .slide-indicador 
                  li:nth-child(3) .slide-circulo {
                color: #428bca;
            }
            #titulo {
                width: 100%;
                position: absolute;
                padding: 0px;
                margin: 0px auto;
                text-align: center;
                font-size: 27px;
                color: rgba(255, 255, 255, 1);
                font-family: 'Open Sans', sans-serif;
                z-index: 9999;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
                     -1px 0px 2px rgba(255, 255, 255, 0);
            }

.proyectos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.proyectos h2{
  color: #012030;
}

.button{
  border-radius: 3px;
  border: none;
  background-color: #012030;
  color: white;
  text-decoration: none;
  font-size: 13.9px;
  padding: 0.5px;
}

.button:hover {
  transform: scale(1.04) rotate(2deg);
}